body {
  //color: white;
  &:before {

    //background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    //background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    //background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    background: radial-gradient(ellipse at center, #eb247e 0%,#c02376 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  &:after{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: url(../images/slot-machine/dot-pattern.png) no-repeat center center;
    background-size: cover;
  }
}

.container {
  width: 1244px !important;
  max-width: 1244px !important;
}

.content-i{
  padding: 50px;
}

.slot-machine-h1{
  text-shadow: 2px 2px 2px rgba(0,0,0,0.32);
}


.slot-machine-container{
  width: 100%;
  //height: 284px;
  background: #393265;
  border-radius: 15px;
  border: 5px solid #ffed5b;
  box-shadow: 0px 0px 40px 0px rgba(255,240,0,1);
  padding: 10px;
}

.slot-machine-bg{
  background: #2a254e;
  padding: 10px;
  border-radius: 10px;
  //
  //display: flex;
  //flex-flow: row nowrap;
  .ezslots{
    display: flex;
    flex-flow: row nowrap;
    margin-left: -5px;
    margin-right: -5px;
    >.window{
      margin: 0 5px;
      overflow:hidden;
      display:inline-block;
      flex: 1 1 auto;
      max-width: 100%;
      border-radius: 5px;
      background: #d61d71;
      font-size: 60px;
      font-weight: bold;
      font-family: 'Orbitron', sans-serif;
      color:white
    }
  }
}

.slot-machine-link{
  text-align: center;
  display: block;
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.32);
  font-size: 20px;
  font-weight: 600;
  @include hover-focus(){
    color: color("yellow");
    text-decoration: none;
  }
}

.ezslots>.window{
  overflow:hidden;
  display:inline-block;
}
.ezslots>.window>.slider>.symbol{
  text-align:center;
  display:table;
}
.ezslots>.window>.slider>.symbol>.content{
  padding:0px;
  margin:0px;
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}


.btn-slot-machine{
  background: #393265;
  border-radius: 15px;
  border: 3px solid #ffed5b;
  box-shadow: 0px 0px 40px 0px rgba(255,240,0,1);
  font-size: 45px;
  font-weight: bold;
  padding: 15px 60px;
  outline: none;
  @include hover-focus(){
    background: lighten(#393265, 10%);
    border: 3px solid #ffed5b;
    outline: none;
    box-shadow: 0px 0px 40px 0px rgba(255,240,0,1);
  }
}

.text-momo{
  color: #d61d71 !important;
}

.btn-slot-container{
  margin-top: 40px;
  margin-bottom: 50px;
}

table.dataTable {
  border-collapse: collapse !important;
}

.table tfoot th, .table thead th{
  font-size: 14px;
  font-weight: bold;
  color: color("secondary");
}

.modal-slot-machine{
  .modal-content{
    box-shadow: 0px 0px 40px 0px #fff000;
    border: 1px solid #fed211;
  }
  .modal-header{
    background: #fed211;
    padding: 10px 15px;
    text-align: center;
    .modal-title{
      color: black;
    }
  }

  .tab-content{
    padding: 15px 20px;
    background: white;
  }
  .nav-pills .nav-link{
    font-weight: bold;
    border-bottom: 1px solid gray("300");
    color: gray("900");
    &.active{
      color: #b0006d;
      background: transparent;

    }
  }
}

@media (min-width: 992px){
  .modal-lg-more {
    max-width: 1000px;
  }
}
