{% extends 'layouts/slot-machine.html' %} {% import 'macros/helpers.html' as macro %}


{% block content %}
<div class="container">
    <div class="row no-gutters">
        <div class="col-auto col-lg-2">

            <img src="images/slot-machine/momo1.png" width="220" class="img-fluid" alt="">

        </div>

        <div class="col col-lg-8">
            <img src="images/slot-machine/momo2.png" width="700" class="img-fluid d-block mx-auto" alt="">
        </div>

        <div class="col-12 col-lg-2">
            <img src="images/slot-machine/momo3.png" class="" width="500" alt="" style="margin-left: -100px">
        </div>
    </div>


    <h1 class="text-white text-uppercase slot-machine-h1 mt-4 mb-4 text-center">
        Quay Giải đặc biệt: 1 căn hộ trị giá 2 tỷ đồng.
    </h1>


    <div class="slot-machine-container">
        <div class="slot-machine-bg">
            <div id="ezslots1"></div>
        </div>

    </div>


    <div class="text-center btn-slot-container">
        <button id="winwinwin1" class="btn btn-primary btn-lg btn-slot-machine" type="button"> QUAY SỐ
        </button>

    </div>


    <div class="row">
        <div class="col-6 col-lg-4">

            <a href="" class="slot-machine-link" data-target=".bd-example-modal-lg"
               data-toggle="modal">
                <i class="os-icon os-icon-tasks-checked"></i> DANH SÁCH NGƯỜI CHƠI
            </a>

        </div>
        <div class="col-6 col-lg-4">
            <a href="" class="slot-machine-link" data-target=".bd-example-modal-lg"
               data-toggle="modal">
                <i class="os-icon os-icon-users"></i> DANH SÁCH TRÚNG GIẢI
            </a>
        </div>
        <div class="col-6 col-lg-4">
            <a href="" class="slot-machine-link" data-target=".bd-example-modal-lg2" data-toggle="modal">
            <i class="os-icon os-icon-file-text"></i> THÔNG TIN CHƯƠNG TRÌNH
            </a>

        </div>

        <div>
            <button class="mr-2 mb-2 btn btn-primary" data-target="#onboardingTextModal" data-toggle="modal" type="button">Modal trúng thưởng</button>


        </div>
    </div>

</div>


<div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bd-example-modal-lg2 modal-slot-machine"
     role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg modal-lg-more ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto" id="exampleModalLabel">
                    Thông tin chương trình
                </h5>

            </div>
            <div class="modal-body p-0 bg-light">

                <div class="row no-gutters">

                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-1"
                               role="tab" aria-controls="v-pills-home" aria-selected="true">Giải thưởng tuần</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-2"
                               role="tab" aria-controls="v-pills-profile" aria-selected="false">Giải thưởng tháng</a>
                            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-3"
                               role="tab" aria-controls="v-pills-messages" aria-selected="false">Giải thưởng đặc biệt</a>
                            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-4"
                               role="tab" aria-controls="v-pills-settings" aria-selected="false">Thời gian tham gia</a>
                        </div>
                    </div>

                    <div class="col-9 bg-white border-left">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <p><strong>Giải thường tuần (Chương tr&igrave;nh k&eacute;o d&agrave;i 3 th&aacute;ng) </strong></p>

                                <p>- Kh&aacute;ch h&agrave;ng thanh to&aacute;n 1 h&oacute;a đơn MPS trở l&ecirc;n trong tuần sẽ c&oacute; cơ hội tham gia</p>

                                <p>- Chi tiết giải thưởng: 4 Macbook Air cho mỗi tuần. Tổng cộng 52 Macbook trong 3 th&aacute;ng (13 tuần)</p>

                                <p>- Giải thưởng trao tại c&ocirc;ng ty MoMo - Kh&aacute;ch h&agrave;ng đ&atilde; tr&uacute;ng giải tuần sẽ kh&ocirc;ng được tham gia c&aacute;c giải tuần tiếp theo</p>

                            </div>
                            <div class="tab-pane fade" id="v-pills-2" role="tabpanel"
                                 aria-labelledby="v-pills-profile-tab">...
                            </div>
                            <div class="tab-pane fade" id="v-pills-3" role="tabpanel"
                                 aria-labelledby="v-pills-messages-tab">...
                            </div>
                            <div class="tab-pane fade" id="v-pills-4" role="tabpanel"
                                 aria-labelledby="v-pills-settings-tab">...
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button"> Đóng</button>
            </div>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bd-example-modal-lg modal-slot-machine"
     role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto">
                    Danh sách người trúng thưởng (Tuần 3)
                </h5>

            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <table id="dataTable1" width="100%" class="table table-striped ">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Họ & Tên</th>
                            <th>Số Điện Thoại</th>
                            <th>Email</th>

                        </tr>
                        </thead>

                        <tbody>
                        {% for item in range(0,50) %}
                        <tr>
                            <td>1</td>
                            <td>Nguyen Van B</td>
                            <td>01669206xxx</td>
                            <td>rogerfederer@gmail.com</td>

                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button"> Đóng</button>
            </div>
        </div>
    </div>
</div>




<div aria-hidden="true" class="onboarding-modal modal fade animated" id="onboardingTextModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-centered" role="document">
        <div class="modal-content text-center">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="close-label"></span><span class="os-icon os-icon-close"></span></button>
            <div class="onboarding-media">
                <img src="https://images-na.ssl-images-amazon.com/images/I/51xyAM3jgxL._SX425_.jpg" class="img-fluid d-block mx-auto" width="250" alt="">
            </div>
            <div class="onboarding-content with-gradient">


                <div class="onboarding-title h5">
                   Chúc mừng bạn đã trúng thưởng
                </div>

                <h2 class="font-weight-bold text-momo">Ngôi nhà 2 tỷ</h2>

                <div>
                    <button class=" mt-2 btn btn-primary btn-lg" type="button"> Quay lại</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}
{{ super() }}

<script src="js/ezslots.js"></script>
<script src="js/jquery.easing.1.3.js"></script>

<script>

    $(function () {
        //setting up some sample set sof things we can make a slot machine of
        var numbers = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
        //var callbackFunction = function(result){
        //	alert("Chúc mừng số điện thoại 0907.693.613 đã trúng thưởng");
        //}


        //simple numbers based one
        var ezslot1 = new EZSlots("ezslots1", {
            "reelCount": 10,
            "startingSet": [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            "winningSet": [0, 9, 0, 7, 6, 9, 3, 6, 1, 3],
            "symbols": numbers,
            "height": 150,
            "width": 107
        });//, "callback": callbackFunction


        $("#winwinwin1").click(function () {
            console.log(ezslot1.win())
        });

    });

</script>
{% endblock %}