<!--------------------
          START - Breadcrumbs
          -------------------->
<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="index.html">Home</a>
  </li>
  <li class="breadcrumb-item">
    <a href="index.html">Products</a>
  </li>
  <li class="breadcrumb-item">
    <span>Laptop with retina screen</span>
  </li>
</ul>
<!--------------------
            END - Breadcrumbs
            -------------------->