<!--------------------
        START - Main Menu
        -------------------->
<div class="menu-w color-scheme-light color-style-transparent menu-position-side menu-side-left menu-layout-compact sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
  <div class="logo-w">
    <a class="logo" href="index.html">
      <div class="logo-element"></div>
      <div class="logo-label">
        Clean Admin
      </div>
    </a>
  </div>
  <div class="logged-user-w avatar-inline">
    <div class="logged-user-i">
      <div class="avatar-w">
        <img alt="" src="images/avatar1.jpg">
      </div>
      <div class="logged-user-info-w">
        <div class="logged-user-name">
          Maria Gomez
        </div>
        <div class="logged-user-role">
          Administrator
        </div>
      </div>
      <div class="logged-user-toggler-arrow">
        <div class="os-icon os-icon-chevron-down"></div>
      </div>
      <div class="logged-user-menu color-style-bright">
        <div class="logged-user-avatar-info">
          <div class="avatar-w">
            <img alt="" src="images/avatar1.jpg">
          </div>
          <div class="logged-user-info-w">
            <div class="logged-user-name">
              Maria Gomez
            </div>
            <div class="logged-user-role">
              Administrator
            </div>
          </div>
        </div>
        <div class="bg-icon">
          <i class="os-icon os-icon-wallet-loaded"></i>
        </div>
        <ul>
          <li>
            <a href="apps_email.html"><i class="os-icon os-icon-mail-01"></i><span>Incoming Mail</span></a>
          </li>
          <li>
            <a href="users_profile_big.html"><i class="os-icon os-icon-user-male-circle2"></i><span>Profile Details</span></a>
          </li>
          <li>
            <a href="users_profile_small.html"><i class="os-icon os-icon-coins-4"></i><span>Billing Details</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-others-43"></i><span>Notifications</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-signs-11"></i><span>Logout</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="menu-actions">
    <!--------------------
            START - Messages Link in secondary top menu
            -------------------->
    <div class="messages-notifications os-dropdown-trigger os-dropdown-position-right">
      <i class="os-icon os-icon-mail-14"></i>
      <div class="new-messages-count">
        12
      </div>
      <div class="os-dropdown light message-list">
        <ul>
          <li>
            <a href="#">
              <div class="user-avatar-w">
                <img alt="" src="images/avatar1.jpg">
              </div>
              <div class="message-content">
                <h6 class="message-from">
                  John Mayers
                </h6>
                <h6 class="message-title">
                  Account Update
                </h6>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="user-avatar-w">
                <img alt="" src="images/avatar2.jpg">
              </div>
              <div class="message-content">
                <h6 class="message-from">
                  Phil Jones
                </h6>
                <h6 class="message-title">
                  Secutiry Updates
                </h6>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="user-avatar-w">
                <img alt="" src="images/avatar3.jpg">
              </div>
              <div class="message-content">
                <h6 class="message-from">
                  Bekky Simpson
                </h6>
                <h6 class="message-title">
                  Vacation Rentals
                </h6>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="user-avatar-w">
                <img alt="" src="images/avatar4.jpg">
              </div>
              <div class="message-content">
                <h6 class="message-from">
                  Alice Priskon
                </h6>
                <h6 class="message-title">
                  Payment Confirmation
                </h6>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--------------------
            END - Messages Link in secondary top menu
            -------------------->
    <!--------------------
            START - Settings Link in secondary top menu
            -------------------->
    <div class="top-icon top-settings os-dropdown-trigger os-dropdown-position-right">
      <i class="os-icon os-icon-ui-46"></i>
      <div class="os-dropdown">
        <div class="icon-w">
          <i class="os-icon os-icon-ui-46"></i>
        </div>
        <ul>
          <li>
            <a href="users_profile_small.html"><i class="os-icon os-icon-ui-49"></i><span>Profile Settings</span></a>
          </li>
          <li>
            <a href="users_profile_small.html"><i class="os-icon os-icon-grid-10"></i><span>Billing Info</span></a>
          </li>
          <li>
            <a href="users_profile_small.html"><i class="os-icon os-icon-ui-44"></i><span>My Invoices</span></a>
          </li>
          <li>
            <a href="users_profile_small.html"><i class="os-icon os-icon-ui-15"></i><span>Cancel Account</span></a>
          </li>
        </ul>
      </div>
    </div>
    <!--------------------
            END - Settings Link in secondary top menu
            -------------------->
    <!--------------------
            START - Messages Link in secondary top menu
            -------------------->
    <div class="messages-notifications os-dropdown-trigger os-dropdown-position-right">
      <i class="os-icon os-icon-zap"></i>
      <div class="new-messages-count">
        4
      </div>
      <div class="os-dropdown light message-list">
        <div class="icon-w">
          <i class="os-icon os-icon-zap"></i>
        </div>
        <ul>
          <li>
            <a href="#">
              <div class="user-avatar-w">
                <img alt="" src="images/avatar1.jpg">
              </div>
              <div class="message-content">
                <h6 class="message-from">
                  John Mayers
                </h6>
                <h6 class="message-title">
                  Account Update
                </h6>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="user-avatar-w">
                <img alt="" src="images/avatar2.jpg">
              </div>
              <div class="message-content">
                <h6 class="message-from">
                  Phil Jones
                </h6>
                <h6 class="message-title">
                  Secutiry Updates
                </h6>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="user-avatar-w">
                <img alt="" src="images/avatar3.jpg">
              </div>
              <div class="message-content">
                <h6 class="message-from">
                  Bekky Simpson
                </h6>
                <h6 class="message-title">
                  Vacation Rentals
                </h6>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="user-avatar-w">
                <img alt="" src="images/avatar4.jpg">
              </div>
              <div class="message-content">
                <h6 class="message-from">
                  Alice Priskon
                </h6>
                <h6 class="message-title">
                  Payment Confirmation
                </h6>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--------------------
            END - Messages Link in secondary top menu
            -------------------->
  </div>
  <div class="element-search autosuggest-search-activator">
    <input placeholder="Start typing to search..." type="text">
  </div>
  <h1 class="menu-page-header">
    Page Header
  </h1>
  <ul class="main-menu">
    <li class="sub-header">
      <span>Layouts</span>
    </li>
    <li class="selected has-sub-menu">
      <a href="index.html">
        <div class="icon-w">
          <div class="os-icon os-icon-layout"></div>
        </div>
        <span>Dashboard</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">
          Dashboard
        </div>
        <div class="sub-menu-icon">
          <i class="os-icon os-icon-layout"></i>
        </div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li>
              <a href="index.html">Dashboard 1</a>
            </li>
            <li>
              <a href="apps_crypto.html">Crypto Dashboard <strong class="badge badge-danger">Hot</strong></a>
            </li>
            <li>
              <a href="apps_support_dashboard.html">Dashboard 3</a>
            </li>
            <li>
              <a href="apps_projects.html">Dashboard 4</a>
            </li>
            <li>
              <a href="apps_bank.html">Dashboard 5</a>
            </li>
            <li>
              <a href="layouts_menu_top_image.html">Dashboard 6</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class=" has-sub-menu">
      <a href="layouts_menu_top_image.html">
        <div class="icon-w">
          <div class="os-icon os-icon-layers"></div>
        </div>
        <span>Menu Styles</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">
          Menu Styles
        </div>
        <div class="sub-menu-icon">
          <i class="os-icon os-icon-layers"></i>
        </div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li>
              <a href="layouts_menu_side_full.html">Side Menu Light</a>
            </li>
            <li>
              <a href="layouts_menu_side_full_dark.html">Side Menu Dark</a>
            </li>
            <li>
              <a href="layouts_menu_side_transparent.html">Side Menu Transparent <strong class="badge badge-danger">New</strong></a>
            </li>
            <li>
              <a href="apps_pipeline.html">Side &amp; Top Dark</a>
            </li>
            <li>
              <a href="apps_projects.html">Side &amp; Top</a>
            </li>
            <li>
              <a href="layouts_menu_side_mini.html">Mini Side Menu</a>
            </li>
          </ul>
          <ul class="sub-menu">
            <li>
              <a href="layouts_menu_side_mini_dark.html">Mini Menu Dark</a>
            </li>
            <li>
              <a href="layouts_menu_side_compact.html">Compact Side Menu</a>
            </li>
            <li>
              <a href="layouts_menu_side_compact_dark.html">Compact Menu Dark</a>
            </li>
            <li>
              <a href="layouts_menu_right.html">Right Menu</a>
            </li>
            <li>
              <a href="layouts_menu_top.html">Top Menu Light</a>
            </li>
            <li>
              <a href="layouts_menu_top_dark.html">Top Menu Dark</a>
            </li>
          </ul>
          <ul class="sub-menu">
            <li>
              <a href="layouts_menu_top_image.html">Top Menu Image <strong class="badge badge-danger">New</strong></a>
            </li>
            <li>
              <a href="layouts_menu_sub_style_flyout.html">Sub Menu Flyout</a>
            </li>
            <li>
              <a href="layouts_menu_sub_style_flyout_dark.html">Sub Flyout Dark</a>
            </li>
            <li>
              <a href="layouts_menu_sub_style_flyout_bright.html">Sub Flyout Bright</a>
            </li>
            <li>
              <a href="layouts_menu_side_compact_click.html">Menu Inside Click</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="sub-header">
      <span>Options</span>
    </li>
    <li class=" has-sub-menu">
      <a href="apps_bank.html">
        <div class="icon-w">
          <div class="os-icon os-icon-package"></div>
        </div>
        <span>Applications</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">
          Applications
        </div>
        <div class="sub-menu-icon">
          <i class="os-icon os-icon-package"></i>
        </div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li>
              <a href="apps_email.html">Email Application</a>
            </li>
            <li>
              <a href="apps_support_dashboard.html">Support Dashboard</a>
            </li>
            <li>
              <a href="apps_support_index.html">Tickets Index</a>
            </li>
            <li>
              <a href="apps_crypto.html">Crypto Dashboard <strong class="badge badge-danger">New</strong></a>
            </li>
            <li>
              <a href="apps_projects.html">Projects List</a>
            </li>
            <li>
              <a href="apps_bank.html">Banking <strong class="badge badge-danger">New</strong></a>
            </li>
          </ul>
          <ul class="sub-menu">
            <li>
              <a href="apps_full_chat.html">Chat Application</a>
            </li>
            <li>
              <a href="apps_todo.html">To Do Application <strong class="badge badge-danger">New</strong></a>
            </li>
            <li>
              <a href="misc_chat.html">Popup Chat</a>
            </li>
            <li>
              <a href="apps_pipeline.html">CRM Pipeline</a>
            </li>
            <li>
              <a href="rentals_index_grid.html">Property Listing <strong class="badge badge-danger">New</strong></a>
            </li>
            <li>
              <a href="misc_calendar.html">Calendar</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class=" has-sub-menu">
      <a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-file-text"></div>
        </div>
        <span>Pages</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">
          Pages
        </div>
        <div class="sub-menu-icon">
          <i class="os-icon os-icon-file-text"></i>
        </div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li>
              <a href="misc_invoice.html">Invoice</a>
            </li>
            <li>
              <a href="rentals_index_grid.html">Property Listing <strong class="badge badge-danger">New</strong></a>
            </li>
            <li>
              <a href="misc_charts.html">Charts</a>
            </li>
            <li>
              <a href="auth_login.html">Login</a>
            </li>
            <li>
              <a href="auth_register.html">Register</a>
            </li>
          </ul>
          <ul class="sub-menu">
            <li>
              <a href="auth_lock.html">Lock Screen</a>
            </li>
            <li>
              <a href="misc_pricing_plans.html">Pricing Plans</a>
            </li>
            <li>
              <a href="misc_error_404.html">Error 404</a>
            </li>
            <li>
              <a href="misc_error_500.html">Error 500</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class=" has-sub-menu">
      <a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-life-buoy"></div>
        </div>
        <span>UI Kit</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">
          UI Kit
        </div>
        <div class="sub-menu-icon">
          <i class="os-icon os-icon-life-buoy"></i>
        </div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li>
              <a href="uikit_modals.html">Modals <strong class="badge badge-danger">New</strong></a>
            </li>
            <li>
              <a href="uikit_alerts.html">Alerts</a>
            </li>
            <li>
              <a href="uikit_grid.html">Grid</a>
            </li>
            <li>
              <a href="uikit_progress.html">Progress</a>
            </li>
            <li>
              <a href="uikit_popovers.html">Popover</a>
            </li>
          </ul>
          <ul class="sub-menu">
            <li>
              <a href="uikit_tooltips.html">Tooltips</a>
            </li>
            <li>
              <a href="uikit_buttons.html">Buttons</a>
            </li>
            <li>
              <a href="uikit_dropdowns.html">Dropdowns</a>
            </li>
            <li>
              <a href="uikit_typography.html">Typography</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="sub-header">
      <span>Elements</span>
    </li>
    <li class=" has-sub-menu">
      <a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-mail"></div>
        </div>
        <span>Emails</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">
          Emails
        </div>
        <div class="sub-menu-icon">
          <i class="os-icon os-icon-mail"></i>
        </div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li>
              <a href="emails_welcome.html">Welcome Email</a>
            </li>
            <li>
              <a href="emails_order.html">Order Confirmation</a>
            </li>
            <li>
              <a href="emails_payment_due.html">Payment Due</a>
            </li>
            <li>
              <a href="emails_forgot.html">Forgot Password</a>
            </li>
            <li>
              <a href="emails_activate.html">Activate Account</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class=" has-sub-menu">
      <a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-users"></div>
        </div>
        <span>Users</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">
          Users
        </div>
        <div class="sub-menu-icon">
          <i class="os-icon os-icon-users"></i>
        </div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li>
              <a href="users_profile_big.html">Big Profile</a>
            </li>
            <li>
              <a href="users_profile_small.html">Compact Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class=" has-sub-menu">
      <a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-edit-32"></div>
        </div>
        <span>Forms</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">
          Forms
        </div>
        <div class="sub-menu-icon">
          <i class="os-icon os-icon-edit-32"></i>
        </div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li>
              <a href="forms_regular.html">Regular Forms</a>
            </li>
            <li>
              <a href="forms_validation.html">Form Validation</a>
            </li>
            <li>
              <a href="forms_wizard.html">Form Wizard</a>
            </li>
            <li>
              <a href="forms_uploads.html">File Uploads</a>
            </li>
            <li>
              <a href="forms_wisiwig.html">Wisiwig Editor</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class=" has-sub-menu">
      <a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-grid"></div>
        </div>
        <span>Tables</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">
          Tables
        </div>
        <div class="sub-menu-icon">
          <i class="os-icon os-icon-grid"></i>
        </div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li>
              <a href="tables_regular.html">Regular Tables</a>
            </li>
            <li>
              <a href="tables_datatables.html">Data Tables</a>
            </li>
            <li>
              <a href="tables_editable.html">Editable Tables</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class=" has-sub-menu">
      <a href="#">
        <div class="icon-w">
          <div class="os-icon os-icon-zap"></div>
        </div>
        <span>Icons</span>
      </a>
      <div class="sub-menu-w">
        <div class="sub-menu-header">
          Icons
        </div>
        <div class="sub-menu-icon">
          <i class="os-icon os-icon-zap"></i>
        </div>
        <div class="sub-menu-i">
          <ul class="sub-menu">
            <li>
              <a href="icon_fonts_simple_line_icons.html">Simple Line Icons</a>
            </li>
            <li>
              <a href="icon_fonts_feather.html">Feather Icons</a>
            </li>
            <li>
              <a href="icon_fonts_themefy.html">Themefy Icons</a>
            </li>
            <li>
              <a href="icon_fonts_picons_thin.html">Picons Thin</a>
            </li>
            <li>
              <a href="icon_fonts_dripicons.html">Dripicons</a>
            </li>
            <li>
              <a href="icon_fonts_eightyshades.html">Eightyshades</a>
            </li>
          </ul>
          <ul class="sub-menu">
            <li>
              <a href="icon_fonts_entypo.html">Entypo</a>
            </li>
            <li>
              <a href="icon_fonts_font_awesome.html">Font Awesome</a>
            </li>
            <li>
              <a href="icon_fonts_foundation_icon_font.html">Foundation Icon Font</a>
            </li>
            <li>
              <a href="icon_fonts_metrize_icons.html">Metrize Icons</a>
            </li>
            <li>
              <a href="icon_fonts_picons_social.html">Picons Social</a>
            </li>
            <li>
              <a href="icon_fonts_batch_icons.html">Batch Icons</a>
            </li>
          </ul>
          <ul class="sub-menu">
            <li>
              <a href="icon_fonts_dashicons.html">Dashicons</a>
            </li>
            <li>
              <a href="icon_fonts_typicons.html">Typicons</a>
            </li>
            <li>
              <a href="icon_fonts_weather_icons.html">Weather Icons</a>
            </li>
            <li>
              <a href="icon_fonts_light_admin.html">Light Admin</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
  <div class="side-menu-magic">
    <h4>
      Light Admin
    </h4>
    <p>
      Clean Bootstrap 4 Template
    </p>
    <div class="btn-w">
      <a class="btn btn-white btn-rounded" href="https://themeforest.net/item/light-admin-clean-bootstrap-dashboard-html-template/19760124?ref=Osetin"
        target="_blank">Purchase Now</a>
    </div>
  </div>
</div>
<!--------------------
        END - Main Menu
        -------------------->