{% from 'macros/helpers.html' import sprite %}

<!doctype html>
<html lang="vi">

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
  <title>

    {% block title %} {{ title }} {% endblock %}

  </title>
  <meta name="theme-color" content="#0e7abe">

  <link rel="stylesheet" href="stylesheets/core.css">

</head>

<body class="menu-position-side menu-side-left full-screen with-content-panel ">
  <div class=" with-side-panel ">




    <div class="layout-w">


      <div class="content-w bg-transparent shadow-none">

        <div class="content-i">
          {% block content %}


          {% endblock %}



        </div>



      </div>


    </div>


    <div class="display-type"></div>


    {% include "layouts/footer.html" %}


  </div>

  {% block javascript %}


  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/moment.js"></script>
  <script src="js/Chart.min.js"></script>
  <script src="js/select2.full.min.js"></script>
  <script src="js/jquery.barrating.min.js"></script>
  <script src="js/ckeditor.js"></script>
  <script src="js/validator.min.js"></script>
  <script src="js/daterangepicker.js"></script>
  <script src="js/ion.rangeSlider.min.js"></script>
  <script src="js/dropzone.js"></script>
  <script src="js/mindmup-editabletable.js"></script>
  <script src="js/jquery.dataTables.min.js"></script>
  <!--<script src="js/dataTables.bootstrap.min.js"></script>-->
  <script src="js/dataTables.bootstrap4.min.js"></script>
  <script src="js/fullcalendar.min.js"></script>
  <script src="js/perfect-scrollbar.jquery.min.js"></script>
  <script src="js/tether.min.js"></script>
  <script src="js/slick.min.js"></script>

  <script src="javascripts/app.js"></script>

  <script src="js/main.js"></script>


  <script src="js/custom.js"></script>




  {% endblock %}

</body>

</html>